<template>
  <div :class='[$mq, "foggyBackground"]'>
    <div class='tree tree1'></div>
    <div class='tree tree2'></div>
    <div class='tree tree3'></div>
    <div class='tree tree4'></div>
    <!-- <div id="fog"></div> -->
  </div>
</template>

<script>
export default {
  name: 'foggyBackground'

}
</script>

<style lang="scss" scoped>

.foggyBackground {
  background-image: linear-gradient(#F7F7F7 70%, #CDCBCB);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}
.tree {
  background-image: url('https://meos-media.ams3.cdn.digitaloceanspaces.com/flatTree.svg');
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
}

.tree1 {
  top: 60%;
  left: 20px;
  width: 30px;
  height: 60px;
}
.tree2 {
  top: 70%;
  left: 40%;
  width: 60px;
  height: 120px;
}
.tree3 {
  top: 65%;
  left: 80%;
  width: 40px;
  height: 75px;
}
.tree4 {
  top: 62%;
  left: 30%;
  width: 30px;
  height: 60px;
}

#fog {
  position: absolute;
  bottom: 0; left: 0;
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  pointer-events: none;
  &:before, &:after {
    content: "";
    position: absolute;
    top: 0; left: 50vw;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    // background-repeat: repeat-x;
  }
  &:before {
    background-image: url('https://meos-media.ams3.cdn.digitaloceanspaces.com/fog.png');
    animation: drift 120s linear 0s infinite;
  }
  &:after {
    background-image: url('https://meos-media.ams3.cdn.digitaloceanspaces.com/fog.png');
    animation: drift 60s linear 0s infinite;
  }
  @keyframes drift {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-100vw, 0, 0); }
  }
}

</style>
