<template>
  <div :class='[$mq, "guidesTable"]'>

  </div>
</template>

<script>
export default {
  name: 'guidesTable',
  components: {

  },
  props: {

  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>

.guidesTable {

}

</style>
