<template>
  <div :class='[$mq, "inboxTable"]'>
    <TableTitle :title='$t("inbox_title")'>
      <template slot='rightItem'>
        <TextButton :text='$t("inboxTitle_createInbox")' color='red' :onClick='createInbox'/>
      </template>
    </TableTitle>
    <TableRow
      v-for='inbox in localInboxes'
      :key='inbox.email_address'
      :text='inbox.email_address'
      :expanded='inbox.expanded'
      :onTextClick='() => {toggleInboxExpand(inbox)}'
      :indent='0'
     >
      <template slot='afterTextItems'>
        <DropDownButton :uniquekey='inbox.email_address' :onClick='() => {toggleInboxExpand(inbox)}' :direction='inbox.expanded ? "down" : "right"'/>
      </template>
      <template slot='rightItems'>
        <CrossButton :onClick='() => {deleteInbox(inbox)}'/>
      </template>
      <template slot='expandedItems'>
        <TableRow
          v-for='alias in inbox.aliases || []'
          :key='alias.email_address'
          :text='alias.email_address'
          :indent='1'
          textColor='#9098A7'
          >
          <template slot='rightItems'>
            <CrossButton :onClick='() => {deleteAlias(alias)}'/>
          </template>
        </TableRow>
        <TableRow
          :text='$t("inboxTable_newAlias")'
          :indent='1'
          textColor='#FF1F5A'
          :onTextClick='() => {createAlias({inbox: inbox.email_address})}'
          />
      </template>
    </TableRow>
  </div>
</template>

<script>
import TableTitle from './Tables/TableTitle'
import TableRow from './Tables/TableRow'
import CrossButton from './Buttons/CrossButton'
import DropDownButton from './Buttons/DropDownButton'
import TextButton from './Buttons/TextButton'

export default {
  name: 'inboxTable',
  components: {
    TableTitle,
    TextButton,
    TableRow,
    CrossButton,
    DropDownButton
  },
  props: {
    inboxes: {
      type: Array,
      default: () => { return [] }
    },
    deleteInbox: {
      type: Function,
      default: () => {}
    },
    deleteAlias: {
      type: Function,
      default: () => {}
    },
    createInbox: {
      type: Function,
      default: () => {}
    },
    createAlias: {
      type: Function,
      default: () => {}
    }
  },
  watch: {
    inboxes (_new, old) {
      this.localInboxes = _new
    }
  },
  data () {
    return {
      localInboxes: []
    }
  },
  methods: {
    toggleInboxExpand (inbox) {
      this.localInboxes = this.localInboxes.map((item) => {
        if (item.email_address === inbox.email_address) {
          item.expanded = !item.expanded
        }
        return item
      })
    }
  },
  mounted () {
    this.localInboxes = this.inboxes
  }
}
</script>

<style lang="scss" scoped>

.inboxTable {

}

</style>
