/* theme color */
$--color-primary: #1E2A78;

$--select-option-selected: #606266;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
