<template>
  <div :class='[$mq, "nextIcon"]'>

  </div>
</template>

<script>
export default {
  name: 'nextIcon',
  components: {

  },
  props: {

  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>

.nextIcon {

}

</style>
