<template>
  <div :class='[$mq, "separator"]'>
  </div>
</template>

<script>
export default {
  name: 'separator',
  components: {

  },
  props: {

  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>

.separator {
  width: 100%;
  height: 1px;
  background-color: $veryLightGrey;
}

</style>
