<template>
  <div  :class='[$mq, "tableRow"]'>
    <div>
      <div :class='[$mq, "content"]' :style='{color: textColor, marginLeft: `${indent * 8}px`}'>
        <div class='leftItems'>
          <p @click='onTextClick'>
            {{text}}
          </p>
          <slot name='afterTextItems'/>
        </div>
        <slot name='rightItems'/>
      </div>
      <Separator />
    </div>
    <el-collapse-transition>
      <div :class='[$mq, "expandedItems"]' v-show='expanded'>
        <slot name='expandedItems'/>
      </div>
    </el-collapse-transition>
  </div>
</template>

<script>
import Separator from './Separator'

export default {
  name: 'tableRow',
  components: {
    Separator
  },
  props: {
    text: {
      type: String
    },
    onTextClick: {
      type: Function,
      default: () => {}
    },
    expanded: {
      type: Boolean,
      default: false
    },
    indent: {
      type: Number,
      default: 0
    },
    textColor: {
      type: String,
      default: '#393E46' // charcoal
    }
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>

.tableRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .content {
    height: 48px;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .leftItems {
      display: flex;
      align-items: center;
    }
    p {
      margin: 0;
      margin-right: 8px;
      font-size: 16px;
      cursor: pointer;
    }
  }

}

</style>
