<template>
  <div :class='[$mq, "tableTitle"]'>
    <div :class='[$mq, "content"]'>
      <h2>{{title}}</h2>
      <slot name='rightItem'/>
    </div>
    <div :class='[$mq, "seperator"]'></div>
  </div>
</template>

<script>
export default {
  name: 'tableTitle',
  components: {

  },
  props: {
    title: {
      type: String
    }
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>

.tableTitle {
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 16px 0;
    }
  }
  .seperator {
    width: 50%;
    height: 1px;
    background-color: $charcoal
  }

}

</style>
