<template>
  <div @click='onClick' :class='[$mq, "crossIcon"]'>
    <a href="#" class="close"/>
  </div>
</template>

<script>
export default {
  name: 'crossIcon',
  components: {

  },
  props: {
    onClick: {
      type: Function,
      default: () => {}
    }

  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>

.crossIcon {
  position: relative;
  width: 16px;
  height: 16px;
}
.close {
  position: absolute;
  right: 8;
  top: 0;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 0;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

</style>
