<template>
  <div @click='onClick' :class='[$mq, "dropDownButton"]'>
    <img :id='uniqueId' src="@/assets/directionalArrow.svg"/>
  </div>
</template>

<script>
export default {
  name: 'dropDownButton',
  components: {

  },
  props: {
    direction: {
      type: String,
      default: 'right'
    },
    onClick: {
      type: Function,
      default: () => {}
    },
    uniquekey: {
      type: String,
      default: 'key'
    }
  },
  computed: {
    uniqueId () {
      return 'dropDownButton' + this.uniquekey
    }
  },
  watch: {
    direction (_new, old) {
      if (_new === 'right') {
        document.getElementById(this.uniqueId).style.transform = 'rotate(0deg)'
      } else if (_new === 'down') {
        document.getElementById(this.uniqueId).style.transform = 'rotate(90deg)'
      }
    }
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>

.dropDownButton {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;

  img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.rotatedDown {
    transform:rotate(25deg);
    -webkit-transform:rotate(25deg);
    -moz-transform:rotate(25deg);
    -o-transform:rotate(25deg);
}

</style>
