<template>
  <div @click='onClick' :class='[$mq, "textButton", color]'>
    {{text}}
  </div>
</template>

<script>
export default {
  name: 'textButton',
  components: {
  },
  props: {
    color: {
      type: String
    },
    text: {
      type: String
    },
    onClick: {
      type: Function
    }
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>

.textButton {
  cursor: pointer;

}

.red {
  color: $red;
}

</style>
