<template>
  <div class="home">
    <transition name="el-fade-in-linear">
      <div v-images-loaded:on.progress="imageProgress" v-show='!isImagesLoading'>
        <img :class='[$mq, "logo"]' src='https://meos-media.ams3.cdn.digitaloceanspaces.com/EmailIconImageRound.svg'/>
        <transition name="el-fade-in-linear">
          <el-row v-show='!isLoading' type="flex" class="row-bg" justify="center">
            <el-col :span="contentParams[$mq]">
              <InboxTable
                :inboxes='inboxes'
                :deleteInbox='deleteInbox'
                :deleteAlias='deleteAlias'
                :createInbox='createInbox'
                :createAlias='createAlias'/>
            </el-col>
          </el-row>
        </transition>
        <el-row type="flex" class="row-bg" justify="center">
          <el-col :span="contentParams[$mq]">
            <GuidesTable :guideItems='guideItems'/>
          </el-col>
        </el-row>
      </div>
    </transition>
    <FoggyBackground/>
  </div>
</template>

<script>
import FoggyBackground from '@/Components/FoggyBackground.vue'
import InboxTable from '@/Components/InboxTable.vue'
import GuidesTable from '@/Components/GuidesTable.vue'
import imagesLoaded from 'vue-images-loaded'
import backend from '@/backend'
import { genericErrorNotification } from '@/tools/errorHandling'
import { genericConfirmationPrompt } from '@/tools/notifications'

export default {
  name: 'home',
  components: {
    FoggyBackground,
    InboxTable,
    GuidesTable
  },
  directives: {
    imagesLoaded
  },
  methods: {
    imageProgress (instance, image) {
      if (instance.isComplete) {
        this.isImagesLoading = false
      }
    },
    createAlias ({inbox}) {
      this.$prompt(this.$t('createAliasPrompt_description'), this.$t('createAliasPrompt_title'), {
        inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
        inputErrorMessage: 'Invalid Email'
      })
        .then(({ value }) => {
          backend.createAlias({aliasEmail: value, inboxEmail: inbox})
            .then((response) => {
              this.$notify({
                type: 'success',
                title: this.$t('createAlias_success_title'),
                message: this.$t('createAlias_success_description')
              })
              this.getInboxes()
            })
        })
        .catch(() => {
          genericErrorNotification()
        })
    },
    createInbox () {
      this.$prompt(this.$t('createInboxPrompt_description'), this.$t('createInboxPrompt_title'), {
        inputPattern: /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/,
        inputErrorMessage: 'Invalid Email'
      })
        .then(({ value }) => {
          backend.createInbox({inboxEmail: value})
            .then((response) => {
              this.$notify({
                type: 'success',
                title: this.$t('createInbox_success_title'),
                message: this.$t('createInbox_success_description')
              })
              this.getInboxes()
            })
        })
        .catch(() => {
          genericErrorNotification()
        })
    },
    deleteInbox (inbox) {
      genericConfirmationPrompt(this.$t('inboxTable_deleteInboxPrompt_description'), this.$t('inboxTable_deleteInboxPromp_title'))
        .then(() => {
          backend.deleteInbox({inboxEmail: inbox.email_address, clearStorage: true})
            .then((response) => {
              this.$notify({
                type: 'success',
                title: this.$t('inboxTable_deletedInbox_success_title'),
                message: this.$t('inboxTable_deletedInbox_success_description')
              })
              this.getInboxes()
            })
            .catch(() => {
              genericErrorNotification()
            })
        })
    },
    deleteAlias (alias) {
      genericConfirmationPrompt(this.$t('inboxTable_deleteAliasPrompt_description'), this.$t('inboxTable_deleteAliasPromp_title'))
        .then(() => {
          backend.deleteAlias({aliasEmail: alias.email_address})
            .then((response) => {
              this.$notify({
                type: 'success',
                title: this.$t('inboxTable_deletedAlias_success_title'),
                message: this.$t('inboxTable_deletedAlias_success_description')
              })
              this.getInboxes()
            })
            .catch(() => {
              genericErrorNotification()
            })
        })
    },
    setLoadingState () {
      this.isLoading = this.isImagesLoading || this.isInboxesLoading
    },
    getInboxes () {
      this.isInboxesLoading = true
      return backend.getInboxes()
        .then((data) => {
          this.inboxes = data.inboxes
          this.isInboxesLoading = false
        })
        .catch(() => {
          genericErrorNotification()
        })
    }
  },
  watch: {
    isInboxesLoading () {
      this.setLoadingState()
    },
    isImagesLoading () {
      this.setLoadingState()
    }
  },
  data () {
    return {
      isImagesLoading: true,
      isInboxesLoading: true,
      isLoading: true,
      contentParams: {mobile: 12, tablet: 8, laptop: 6, desktop: 6},
      inboxes: [],
      guideItems: [{
        name: 'How to connect to an Gmail',
        id: 'connect_to_gmail'
      }]
    }
  },
  mounted () {
    this.getInboxes()
  }
}
</script>

<style lang="scss" scoped>
  .logo {
    margin: 128px auto;
    margin-bottom: 0;
    display: block;
  }
</style>
