<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import VueCookieAcceptDecline from 'vue-cookie-accept-decline'

// Plugins

export default {
  name: 'app',
  components: {
    VueCookieAcceptDecline
  },
  data: function () {
    return {
    }
  }
}
</script>

<style lang="scss">
body {
  margin: 0;
  font-family: 'Helvetica Neue'
}
html { height: 100%; overflow:auto; }

a {
  text-decoration: none;
}

.white_background {
  background-color: #F9F8F9;
}

p {
  margin: 0;
}

*:focus {
    outline: none;
}

input {
  &.mobile {
    font-size: 20px;
  }
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #A8A8A8;
  font-size: 20px;
  font-weight: 100;
  margin: 8px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    color: white;
    text-align: center;
    margin-bottom: 16px;
  }

  img {
    margin: auto;
  }
}

.cta {
  &.mobile {
    font-size: 20px;
  }

  &.disabled {
    background-color: #A8A8A8;
    pointer-events: none;
    cursor: default;
  }

  display: block;
  color: white;
  position: relative;
  margin: 16px 16px;
  overflow: hidden;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #42FFB2;
  font-size: 24px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.cta:after {
    content: "";
    background: rgb(75, 237, 172);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.cta:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

</style>
